server {
    listen       80;

    client_max_body_size 1024M;

    server_name   centra.magams.localhost;

    access_log  /opt/homebrew/var/log/nginx/centra.magams.localhost.access.log;
    error_log  /opt/homebrew/var/log/nginx/centra.magams.localhost.error.log;

    root   /Users/marcins/works/programming/MagaMS/centra-assignment/public;
    index index.php index.html index.htm;

    # Redirect all request to index.php
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # Run application
    location ~ \.php$ {
        try_files       $uri = 404;
        fastcgi_pass    127.0.0.1:9081;
        fastcgi_index   index.php;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param   APPLICATION_ENV "marcins_local_mac_nginx";
        include         fastcgi_params;
    }

    # return 404 for all other php files not matching the front controller
    # this prevents access to other php files you don't want to be accessible.
    location ~ \.php$ {
        return 404;
    }

    location ~ \.htaccess {
        deny all;
    }

    location ~ ^/(.*/)?\\.git/ {
        deny all;
    }
}